/node_modules

/storage/*.key

/resources/views/*
!/apartments
!/apartmentsBoker/
!/auth/
!/layouts/
!/users/
!home.balde.php
!dashboard.blade.php
!dashboardboker.blade.php
/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
